force-app/main/default/flows/ORI_Request_Reinspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ORR_Create_Visit_Records</name>
        <label>ORR Create Visit Records</label>
        <locationX>562</locationX>
        <locationY>2399</locationY>
        <actionName>ORI_Invocable_RequestInsp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Visit_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>iaRecords</name>
            <value>
                <elementReference>ORIReqInspComponent.passToFlowData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reInspectionFlag</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VisitcollectionVar</assignToReference>
            <name>Id</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ORR_Create_Visit_Records_0_0</name>
        <label>ORR Create Visit Records for Check</label>
        <locationX>2034</locationX>
        <locationY>2242</locationY>
        <actionName>ORI_Invocable_RequestInsp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Visit_Ids_for_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>iaRecords</name>
            <value>
                <elementReference>ORIReqInspComponent.passToFlowData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reInspectionFlag</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VisitcollectionVar</assignToReference>
            <name>Id</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ORR_Create_Visit_Records_for_Cash</name>
        <label>ORR Create Visit Records for Cash</label>
        <locationX>1360</locationX>
        <locationY>2280</locationY>
        <actionName>ORI_Invocable_RequestInsp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Visit_Ids_for_Cash</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>iaRecords</name>
            <value>
                <elementReference>ORIReqInspComponent.passToFlowData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reInspectionFlag</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VisitcollectionVar</assignToReference>
            <name>Id</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ORR_Create_Visit_Records_for_Reinspection</name>
        <label>ORR Create Visit Records for Reinspection</label>
        <locationX>890</locationX>
        <locationY>737</locationY>
        <actionName>ORI_Invocable_RequestInsp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ORI_Reinspection_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>iaRecords</name>
            <value>
                <elementReference>ORIReqInspComponent.passToFlowData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reInspectionFlag</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VisitcollectionVar</assignToReference>
            <name>Id</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Single_Visit_to_Visit_Collection</name>
        <label>Add Single Visit to Visit Collection</label>
        <locationX>759</locationX>
        <locationY>2710</locationY>
        <assignmentItems>
            <assignToReference>UpdateVisitRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Visit_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Visit_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_Visit_to_Visit_Collection_for_Cash</name>
        <label>Add Single Visit to Visit Collection for Cash</label>
        <locationX>1559</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>UpdateVisitRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Visit_Record_for_Cash</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Visit_Ids_for_Cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_Visit_to_Visit_Collection_for_Check</name>
        <label>Add Single Visit to Visit Collection for Check</label>
        <locationX>2236</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>UpdateVisitRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Visit_Record_for_Check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Visit_Ids_for_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargent_values</name>
        <label>Assign Chargent values</label>
        <locationX>561</locationX>
        <locationY>1398</locationY>
        <assignmentItems>
            <assignToReference>ChargentOrder.ChargentOrders__Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gateway.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargentOrder.ChargentOrders__Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargentOrder.ChargentOrders__Subtotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ORIReqInspComponent.chargeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Chargent_Order_for_Card_Pay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Visit</name>
        <label>Assign values to Visit</label>
        <locationX>899</locationX>
        <locationY>2712</locationY>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record.Chargent_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargentOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit/Debit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Visit_to_Visit_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Visit_for_Cash</name>
        <label>Assign values to Visit for Cash</label>
        <locationX>1704</locationX>
        <locationY>2595</locationY>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Cash.Chargent_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Chargent_Order_for_Cash</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Cash.Cash_Check_Received_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Received_By</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Cash.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Cash.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Visit_to_Visit_Collection_for_Cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Visit_for_Check</name>
        <label>Assign values to Visit for Check</label>
        <locationX>2381</locationX>
        <locationY>2560</locationY>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Check.Chargent_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Chargent_Order_for_Check</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Check.Cash_Check_Received_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Received_By_Check</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Check.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Check.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Single_Visit_Record_for_Check.Check_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Visit_to_Visit_Collection_for_Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ComplaintInspectionChoice</name>
        <choiceText>Complaint based Inspection</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PaybyCardChoice</name>
        <choiceText>Pay by Card</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PaybyCashChoice</name>
        <choiceText>Pay by Cash</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PaybyCheckChoice</name>
        <choiceText>Pay by Check</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RegularInspectionChoice</name>
        <choiceText>Regular Inspection</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Portal_or_non_portal_User</name>
        <label>Check if Portal or non portal User</label>
        <locationX>558</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_portal_user_for_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_values</targetReference>
            </connector>
            <label>If portal user for payment</label>
        </rules>
        <rules>
            <name>If_not_portal_user_for_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Portal_User_Pay_Screen</targetReference>
            </connector>
            <label>If not portal user for Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Total_Amount</name>
        <label>Check the Total Amount</label>
        <locationX>549</locationX>
        <locationY>736</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ORIReqInspComponent.chargeAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORR_Create_Visit_Records_for_Reinspection</targetReference>
            </connector>
            <label>If Zero</label>
        </rules>
        <rules>
            <name>If_not_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ORIReqInspComponent.chargeAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Portal_or_non_portal_User</targetReference>
            </connector>
            <label>If not Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Success_Flow</name>
        <label>Check Transaction Success Flow</label>
        <locationX>552</locationX>
        <locationY>2142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_transaction_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record.ChargentOrders__Response_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORR_Create_Visit_Records</targetReference>
            </connector>
            <label>If transaction Success</label>
        </rules>
        <rules>
            <name>If_transaction_not_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record.ChargentOrders__Response_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentByCard_Failure_Screen</targetReference>
            </connector>
            <label>If transaction not Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Decision_Flow</name>
        <label>Payment Decision Flow</label>
        <locationX>1354</locationX>
        <locationY>1401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pay_by_Card_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaybyCardChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_values</targetReference>
            </connector>
            <label>Pay by Card Flow</label>
        </rules>
        <rules>
            <name>Pay_By_Cash_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaybyCashChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pay_by_cash_Screen</targetReference>
            </connector>
            <label>Pay By Cash Flow</label>
        </rules>
        <rules>
            <name>Pay_By_Check_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaybyCheckChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pay_By_Check_Screen</targetReference>
            </connector>
            <label>Pay By Check Flow</label>
        </rules>
    </decisions>
    <interviewLabel>ORI Request Reinspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORI Request Reinspection</label>
    <loops>
        <name>Loop_through_Visit_Ids</name>
        <label>Loop through Visit Ids</label>
        <locationX>562</locationX>
        <locationY>2562</locationY>
        <collectionReference>VisitcollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Visit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Visit_Ids_for_Cash</name>
        <label>Loop through Visit Ids for Cash</label>
        <locationX>1362</locationX>
        <locationY>2446</locationY>
        <collectionReference>VisitcollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Visit_Record_for_Cash</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visit_Records_for_Cash</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Visit_Ids_for_Check</name>
        <label>Loop through Visit Ids for Check</label>
        <locationX>2038</locationX>
        <locationY>2410</locationY>
        <collectionReference>VisitcollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Visit_Record_for_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visit_Records_for_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cash_Transaction</name>
        <label>Create Cash Transaction</label>
        <locationX>1360</locationX>
        <locationY>2081</locationY>
        <connector>
            <targetReference>ORR_Create_Visit_Records_for_Cash</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>ORIReqInspComponent.chargeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway_ID__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Order__c</field>
            <value>
                <elementReference>Create_Chargent_Order_for_Cash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Type__c</field>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Chargent_Order_for_Card_Pay</name>
        <label>Create Chargent Order for Card Pay</label>
        <locationX>559</locationX>
        <locationY>1603</locationY>
        <connector>
            <targetReference>VisitCardPaymentScreen</targetReference>
        </connector>
        <inputReference>ChargentOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Chargent_Order_for_Cash</name>
        <label>Create Chargent Order for Cash</label>
        <locationX>1360</locationX>
        <locationY>1882</locationY>
        <connector>
            <targetReference>Create_Cash_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Billing_Country__c</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway__c</field>
            <value>
                <elementReference>Get_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Manual_Charge__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>ORIReqInspComponent.chargeAmount</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Chargent_Order_for_Check</name>
        <label>Create Chargent Order for Check</label>
        <locationX>2033</locationX>
        <locationY>1854</locationY>
        <connector>
            <targetReference>Create_Check_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Billing_Country__c</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway__c</field>
            <value>
                <elementReference>Get_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Manual_Charge__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>ORIReqInspComponent.chargeAmount</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Check_Transaction</name>
        <label>Create Check Transaction</label>
        <locationX>2034</locationX>
        <locationY>2062</locationY>
        <connector>
            <targetReference>ORR_Create_Visit_Records_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>ORIReqInspComponent.chargeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway_ID__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Order__c</field>
            <value>
                <elementReference>Create_Chargent_Order_for_Check</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Type__c</field>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Gateway</name>
        <label>Get Gateway</label>
        <locationX>554</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.orr_gateway_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentBase__Gateway__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Visit_Record</name>
        <label>Get Single Visit Record</label>
        <locationX>902</locationX>
        <locationY>2558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Visit_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Visit_Record_for_Cash</name>
        <label>Get Single Visit Record for Cash</label>
        <locationX>1700</locationX>
        <locationY>2440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_Visit_for_Cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Visit_Ids_for_Cash</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Visit_Record_for_Check</name>
        <label>Get Single Visit Record for Check</label>
        <locationX>2377</locationX>
        <locationY>2406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_Visit_for_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Visit_Ids_for_Check</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Record</name>
        <label>Get Transaction Record</label>
        <locationX>560</locationX>
        <locationY>1954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Transaction_Success_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargentOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visit_Records</name>
        <label>Update Visit Records</label>
        <locationX>564</locationX>
        <locationY>2814</locationY>
        <connector>
            <targetReference>Payment_Success_Screen</targetReference>
        </connector>
        <inputReference>UpdateVisitRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_Records_for_Cash</name>
        <label>Update Visit Records for Cash</label>
        <locationX>1364</locationX>
        <locationY>2698</locationY>
        <connector>
            <targetReference>Payment_Success_Screen</targetReference>
        </connector>
        <inputReference>UpdateVisitRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_Records_for_Check</name>
        <label>Update Visit Records for Check</label>
        <locationX>2041</locationX>
        <locationY>2740</locationY>
        <connector>
            <targetReference>Payment_Success_Screen</targetReference>
        </connector>
        <inputReference>UpdateVisitRecordCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Non_Portal_User_Pay_Screen</name>
        <label>Non Portal User Pay Screen</label>
        <locationX>1363</locationX>
        <locationY>1163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Decision_Flow</targetReference>
        </connector>
        <fields>
            <name>Select_any_of_the_below</name>
            <choiceReferences>PaybyCardChoice</choiceReferences>
            <choiceReferences>PaybyCashChoice</choiceReferences>
            <choiceReferences>PaybyCheckChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Select any of the below payment methods</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ORI_Reinspection_Success_Screen</name>
        <label>ORI Reinspection Success Screen</label>
        <locationX>1114</locationX>
        <locationY>735</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReinspectionZeroSuccessText</name>
            <fieldText>&lt;p&gt;Reinspection Sucessful&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_by_cash_Screen</name>
        <label>Pay by cash Screen</label>
        <locationX>1360</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Chargent_Order_for_Cash</targetReference>
        </connector>
        <fields>
            <name>CashtobepaidText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Amount to be Paid : ${!ORIReqInspComponent.chargeAmount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Received_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!$User.FirstName} {!$User.LastName} </stringValue>
            </defaultValue>
            <fieldText>Received By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pay_By_Check_Screen</name>
        <label>Pay By Check Screen</label>
        <locationX>2029</locationX>
        <locationY>1640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Chargent_Order_for_Check</targetReference>
        </connector>
        <fields>
            <name>AmountToBePaidCheckText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Amount to be paid: ${!ORIReqInspComponent.chargeAmount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_Number</name>
            <dataType>String</dataType>
            <fieldText>Check Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Received_By_Check</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </defaultValue>
            <fieldText>Received By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Success_Screen</name>
        <label>Payment Success Screen</label>
        <locationX>1365</locationX>
        <locationY>3104</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PaymentSuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; color: rgb(68, 68, 68);&quot;&gt;Payment is Successful&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentByCard_Failure_Screen</name>
        <label>PaymentByCard Failure Screen</label>
        <locationX>246</locationX>
        <locationY>2142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PaymentByCardFailureText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Payment Failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Inspection_Screen</name>
        <label>Request Inspection Screen</label>
        <locationX>554</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_Total_Amount</targetReference>
        </connector>
        <fields>
            <name>ORIReqInspComponent</name>
            <extensionName>c:ORI_Request_Inspection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ReInspectionChoice</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VisitCardPaymentScreen</name>
        <label>VisitCardPaymentScreen</label>
        <locationX>560</locationX>
        <locationY>1778</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Transaction_Record</targetReference>
        </connector>
        <fields>
            <name>VisitCardPayment</name>
            <extensionName>ChargentBase:chargentTakePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountFieldName</name>
                <value>
                    <elementReference>ChargentOrder.ChargentOrders__Subtotal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theGatewayId</name>
                <value>
                    <elementReference>Get_Gateway.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formName</name>
                <value>
                    <stringValue>Payment Screen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ChargentOrder.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>429</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Get_Gateway</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;&amp;lt;p&amp;gt;&amp;lt;b&amp;gt;Something went wrong with this flow.&amp;lt;/b&amp;gt;&amp;lt;/p&amp;gt;
&amp;lt;p&amp;gt;Your admin has received an email about this error.&amp;lt;/p&amp;gt;
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChargentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargentOrders__ChargentOrder__c</objectType>
    </variables>
    <variables>
        <name>IsReinspection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateVisitRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>VisitcollectionVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VisitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
</Flow>
